# Default ignored files
/../../../../:baitapngay12/7/.idea/shelf/
/../../../../:baitapngay12/7/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../:baitapngay12/7/.idea/httpRequests/
